name: Ci Job

on:
  push:
    branches: [ main, master, test ]
  pull_request:

jobs:
  review-and-test:
    name: lint / tests
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-node@v3"
        with:
            node-version: 16
            cache: "yarn"
      - run: "yarn"
      - uses: "reviewdog/action-eslint@v1"
        if: ${{ github.event_name == 'pull_request' }}
        with:
            reporter: github-check
            github_token: ${{ secrets.GH_TOKEN }}
            eslint_flags: "."
            fail_on_error: true
      - name: Run Tests
        run: "yarn test:ci"
  codecov:
    name: test
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v3"
    - uses: "actions/setup-node@v3"
      with:
        node-version: 16
        cache: "yarn"
    - run: "yarn"
    - name: Upload coverage to Codecov
    - uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
